#header {width: 100%; 
        text-align: left;
        border-radius:5px;
        margin: 0; 
        font-family: sans-serif; 
        font-size: x-large; 
        color:white; 
        padding: 6px}



#header {background-color: black;}

#headertext {position: relative; top: 62px; font-size: 36px}


a:hover {color: blue}
a:visited {color: purple}

nav { display:flex;
  justify-content:space-around;  
  padding: 10px; 
  margin: 0;
  font-family:sans-serif;;color: black}

nav a {text-decoration:none; color:black; 
    font-weight:bold}

body {background-color: #ffeed2}

#imgcontainer {
            width: 22vw;   
            margin: 1vw; 
            margin-bottom: 13vw;
            border: 106px; 
            }

.img {padding-left: 9vw;
    margin-left: 3vw;
      margin-top: 6vw;
      width: 2vw; 
      height: 46vw;
      margin-left:-14px;}

.stockphoto {border:solid;
            border-width: 1vw;
            border-right:none;
            border-radius: 10px;
            height: 35vw;
            width: 103vw;
            margin-left: -6vw;}

#table {border: solid; 
        width: 86vw; 
        height:19vw;
        font-family: sans-serif; 
        text-align-last: left;
        float:left; 
        position: absolute;
        font-size: x-large;
        border-radius: 10px;
          margin-left: 1vw;
        margin-bottom: 1vw;}

tr{font-family: sans-serif;
    position: static}

h3 {font-family: sans-serif; 
    position: absolute;
    width: 356px; 
    margin-top: -4vw;
  margin-bottom: 0;
  margin-left: 1vw;}

.h3 {margin-top: 31vw;
    margin-left: 1vw;
    margin-bottom: 25px;}
 

input {width: 90vw; 
      height:300px; 
      border:solid; 
      border-radius: 10px;
      text-align: left;
  margin-bottom: 1vw;
  margin-left: 1vw;
    margin-top: 48vw;
    display: flex;}

#tr {display: flex;}

tr {line-height: 6vw}

.td {margin-bottom: 45vw}

.linkedinrow {margin-top: 18vw}

    .my-button {
        background-color: #0d0d0d;
        color: white; 
        padding: 2vw 16vw 3vw;
        border: none; 
        border-radius: 5px; 
        font-size: 31px; 
        cursor: pointer; 
        text-align: center; 
        text-decoration: none;
        font-family: sans-serif;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 4vw;
    }

    .my-button:hover {
        background-color: #5c5c5c;}

.footer {
    position:relative;
    text-align:right; 
    font-weight:bold; 
    font-family: sans-serif;
    font-size: 2vw; 
    color: white;
    bottom: -4vw;
    right: -1vw;
    }

#footer { width: 101%; 
    margin: -32px; 
    margin-top:3vw;
    bottom: -2vw;
    padding: 2vw; 
    height: 7vw;
    background-color: black}
