#header {width: 100%; 
        text-align: left;
        border-radius:5px;
        margin: -62; 
        font-family: sans-serif; 
        font-size: x-large; 
        color:white; 
        padding: 6px}


#header {background-color: black;}

#headertext {position: relative; 
            top: 62px; 
            font-size: 36px}


nav {display:flex;
  justify-content:space-around;  
  padding: 10px; 
  margin: 0;
  font-family:sans-serif;
  color: black}

nav a {text-decoration:none; 
    color:black; 
    font-weight:bold}

a:hover {color: blue}
a:visited {color: purple}


body {background-color: #ffeed2;
     }


.h5 {margin-top: 29px}


.row {display: flex;
    }

.column {display:flexbox;
        padding: 14px;
        border-radius: 10px;
        width:22vw;
    height: 17vw;}

img{border: solid;
    border-radius: 10px;}

.img1 {height:139px;
        margin-left: 8vw;
        width: 23vw;}
.img2 {height:139px;
        margin-left: 8vw;
        width: 23vw;}


h3 {font-family:sans-serif; 
    font-size: x-large}

h4 {font-family: sans-serif;
    text-decoration:underline}

h5 {font-family: sans-serif; 
    font-size: x-large; 
    margin: 10px}

p {font-family: sans-serif;
    border: solid; 
    padding: 10px; 
    border-radius: 10px;
    width: 80vw;
    margin-left:5vw}

ul {font-family: sans-serif; font-size:larger;margin: 05px }

.nestedlist {font-size:medium;
            font-family: sans-serif;}

.footer {
    position:relative;
    text-align:right; 
    font-weight:bold; 
    font-family: sans-serif;
    font-size: 2vw; 
    color: #ffffff;
    bottom: -3vw;
    right: 0; border: none
}

#footer { width: 100%; 
    display: 10px;
    margin: -32px; 
    margin-top:3vw;
    bottom: -2vw;
    padding: 2vw; 
    height: 7vw;
    background-color: black}
