#header {width: 108%; 
  text-align: left;
  border-radius:5px;
  margin: -62; 
  font-family: sans-serif; 
  font-size: x-large; 
  color:white;
  padding: 6px}

#header {background-color: black;}

#headertext {position: relative; 
           top: 62px; 
           font-size: 36px}

body {margin-right:-6vw}

.footer {
    position:relative;
    text-align:right; 
    font-weight:bold; 
    font-family: sans-serif;
    font-size: 2vw; 
    color: white;
    bottom: -5vw;
    right: -1vw;
    }

#footer { width: 100%; 
    display: 10px;
    margin: -32px; 
    margin-top:3vw;
    bottom: -2vw;
    padding: 2vw; 
    height: 7vw;
    background-color: black}


a:hover {color: blue}
a:visited {color: purple}

.h1 {color: black; 
    background-color: black; 
    width: 224%; 
    text-align: left;
    border-radius:5px;
    margin: -17; 
    font-size: x-large; 
    padding: 46px}


.table {height:10px}

.bottomheader {padding: 10px}

#imgcontainer {margin-left: -16vw;
            margin-right: -21vw;
            width:99vw;
            float:none;}

body {background-color: #ffeed2}

h3 {font-family: sans-serif;}

table {font-family: sans-serif;
      table-layout: fixed; 
      width: 100%; 
      text-align: center; 
      border: solid black;
      border-radius: 20px; 
      height: 196px}

th{background-color: black;   
   color:white; 
   height: 40px;
    border-radius: 30px;}

tr {border-radius: 30px}

td {border: solid; 
    border-radius: 52px;
    padding: 8px;}


.column {
  flex: 34.44%;
  padding: -9px;width: 66px;}


img {max-width: 100%; 
    height: 681px auto; 
    display: block;
    margin-left: 230px;
    border-radius: 10px; 
    border: solid;}

nav {display:flex;
  justify-content:space-around;  
  padding: 10px; 
  margin: 0;
  font-family:sans-serif;
  color: black}

nav a {text-decoration:none; 
      color:black; 
      font-weight:bold}

li{font-family: sans-serif; 
  font-size: x-large; 
  text-align: left;}


